<div class="card">
  <div class="card-body">
    <h2 class= "card-title d-flex justify-content-between mb-4">
      <span> <%= @project.name %> </span>
      <div class="d-flex justify-content-between">
        <%= form_tag import_project_tasks_path(@project), :multipart => true do %>
          <%= file_field_tag :file, class: 'btn btn-info  mb-3  ml-auto p-2'  %>
          <%= submit_tag "Generate Tasks", class: 'btn btn-info  mb-3  ml-auto p-2'  %>
          <% if @project.tasks.count < 1%>
              <%= link_to 'Export', project_path(format: :csv), class: 'btn btn-success mb-3 ml-auto p-2', :id => "disabled_btn" %>
          <% else %>  
             <%= link_to 'Export', project_path(format: :csv), class: 'btn btn-success mb-3 ml-auto p-2' %>
          <% end %>
        <% end %>
      </div>
    </h2>
    <span><%= @project.description %> </span>
    <br/>
    <span>***NOTE***</span>
    <br/>
    <span>The CSV File needs to have the header of ::  Name, Description, Status</span>
    <br/>
    <br/>
    <% if @project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this task from being saved:</h2>
        <ul>
          <% @project.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="mb-4">
      <h6> Add Task </h6>
      <%= form_with(model: [@task.project, @task]) do |f| %>
        <% if @task.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
            <ul>
              <% @task.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.hidden_field :status, value: 'not-started' %>
        <div class="input-group">
          <%= f.text_field :name, class: 'form-control', placeholder: "Enter Task Name..." %>
          <div class="input-group-append">
            <%= f.submit class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
    <h4> Tasks </h4>
    <% @project.tasks.each do |task| %>
      <% if task.persisted? %>
        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <span class="badge badge-<%=task.badge_color %> mb-3"> <%= task.status%></span>
              <div>
                <%= link_to 'Edit', edit_project_task_path(task.project, task) , class: 'btn btn-light btn-sm' %>
                <%= link_to 'Destroy', [task.project, task] , method: :delete, data:{
              confirm: 'Are you sure?'}, class: 'btn btn-dark btn-sm' %>
              </div>
            </div>
            <h5 class="card-title mb-2">
              <span><%= task.name %> </span>
            </h5>
            <% if task.description == nil || task.description == "" %>
              <p>No Description</p>
            <% end %>
            <p> <%= task.description %> </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<hr>
<div class="actions d-flex">
  <%= link_to 'Back', projects_path, class: 'btn btn-secondary mb-5 p-2'%>
  <div class="ml-auto p-2">
      <% if @project.tasks.count < 1%>
              <%= link_to 'Destroy All Tasks',  
              project_tasks_delete_all_path(@project.id),
              data: { confirm: 'Are you sure you want to destroy all the tasks' } , 
             class: 'btn btn-danger mb-3 p-2',
              :id => "disabled_btn" %> 
      <% else %>  
              <%= link_to 'Destroy All Tasks',  
              project_tasks_delete_all_path(@project.id),  method: :put,
              data: { confirm: 'Are you sure you want to destroy all the tasks' } , 
             class: 'btn btn-danger mb-3 p-2'%> 
      <% end %>
        </div>
</div>
</div>
